<!-- <form class="example-form" [formGroup]="companyform" (ngSubmit)="SaveCompany()">
    <mat-card>
    <mat-card-content>
    

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>id</mat-label>
      <input matInput placeholder="id" formControlName="id" >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" >
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>email</mat-label>
        <input matInput placeholder="email" formControlName="email" >
      </mat-form-field><br>


      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>techTrack</mat-label>
        <select matInput placeholder="techTrack" formControlName="techTrack" required>
          <option *ngFor= "let dl of listitems" [value]= "dl">
            {{dl}}
          </option>
        </select>
      </mat-form-field><br>
      

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>programName</mat-label>
        <select matInput placeholder="programName" formControlName="programName" required>
        <option *ngFor= "let dl of listitems" [value]= "dl">
          {{dl}}
        </option>
      </select> 
      </mat-form-field><br>

     

  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>startDate</mat-label>
      <textarea matInput placeholder="startDate" formControlName="startDate"></textarea>
    </mat-form-field>

 


     <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>endDate</mat-label>
      <textarea matInput placeholder="endDate" formControlName="endDate"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>SMEName</mat-label>
      <textarea matInput placeholder="SMEName" formControlName="SMEName"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>statusOfProgram</mat-label>
      <textarea matInput placeholder="statusOfProgram" formControlName="statusOfProgram"></textarea>
    </mat-form-field>

</mat-card-content>
    <mat-card-footer>
    <div class="example-button-row" style="margin: 2px">
        <button mat-raised-button color="primary">Save</button> | <a (click)="closepopup()" mat-raised-button color="accent">Close</a>
    </div>
</mat-card-footer>
</mat-card>
   </form> -->





   <!-- <form class="form-group col-md-6" [formGroup]="companyform" (ngSubmit)="SaveCompany()">
    <div class="form-group">
      <label for="exampleFormControlInput1">id</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">vamid</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="vamid"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">resourceName</label>
      <input
        type="resourceName"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="resourceName"
      />
      <div class="form-group">
        <label for="exampleFormControlInput1">email</label>
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="email"
        />
      </div>
  
      <div class="form-group">
        <label for="exampleFormControlSelect1">techTrack</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option *ngFor="let dl of listitems" [value]="dl">
            {{ dl }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">program</label>
        <input
          type="program"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder=""
        />
      </div>
      <div class="form-group">
        
        <label class="control-label" for="date">startDate</label>
        <input
          class="form-control"
          id="startDate"
          name="startDate"
          placeholder="MM/DD/YYY"
          type="text"
        />
      </div>
      <div class="form-group">
        
        <label class="control-label" for="date">endDate</label>
        <input
          class="form-control"
          id="endDate"
          name="endDate"
          placeholder="MM/DD/YYY"
          type="text"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">sme</label>
      <input
        type="sme"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">programStatus</label>
      <input
        type="programStatus"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
      />
    </div>
    <div class="example-button-row" style="margin: 2px">
      <button mat-raised-button color="primary">Save</button> |
      <a (click)="closepopup()" mat-raised-button color="accent">Close</a>
    </div>
  </form> -->




  <form [formGroup]="companyform" (ngSubmit)="SaveCompany()">
    <div class="form-row">
      <div class="form-group col-md-6" hidden>
        <label for="inputEmail4"></label>
        <input type="id" class="form-control" id="inputEmail4" placeholder="id" >
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">vamid</label>
        <input type="vamid" class="form-control" id="inputPassword4" placeholder="vamid">
      </div>
      <div class="form-group col-md-6">
        <label for="inputState">techTrack</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="inputAddress">resourceName</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="resourceName">
    </div>

    <div class="form-group">
      <label for="inputAddress2">email</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="email">
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">startDate</label>
        <input id="date" name="date" class="form-control" type="date" placeholder="MM/DD/YYY" >
      </div>
      <div class="form-group col-md-6">
        <label for="inputState">endDate</label>
        <input  id="date" name="date"  class="form-control" type="date" placeholder="MM/DD/YYY" >
        <!-- <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select> -->
      </div>
      
      </div>
      <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputAddress">sme</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="sme">
      </div>

    <div class="form-group col-md-6">
      <label for="inputAddress">Manager</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Manager">
    </div>
  </div>
  <div class="example-button-row" style="margin: 2px">
    <button mat-raised-button color="primary">Save</button> |
    <a (click)="closepopup()" mat-raised-button color="accent">Close</a>
  </div>
  </form>












